* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(232, 231, 223);
}
.container {
    width: 100%;
    max-width: 1295px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

li {
    text-decoration: none;
    color: black;
    list-style: none;
    font-family: "Rubik-bold";
}
@font-face {
    font-family:"Rubik-bold";
    src: url(./fonts/Rubik-Bold.ttf);
}

.ho {
    background-image: url(./img/waves.png);
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 100vw;
    width: 1295px;
    height: 100%;
    text-align: center;
    vertical-align: middle;

    padding-bottom: 90px;
}

.ho h1 {
    font-family: "Rubik-bold";
    font-size: 35pt;
    color: rgb(5, 20,57);
}

.text1 {
    display: inline-block;
    padding-top: 260px;
}

.text1 span{
    color: rgb(50, 191, 206);
}

.text1 p {
    font-family: "Rubik-bold";
    padding-top: 20px;
    color: rgb(64, 75, 102);
}

.katalog {
    font-family: "Rubik-bold";
    background-color: rgb(255, 91, 53);
    border-color: rgb(255, 91, 53);
    color: white;
    border: 0px;
    border-radius: 12px;
    width: 175px;
    height:40px;
}

.bb {
    padding-top: 45px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    background-color: white;
}

.text2 {
    font-family: "Rubik-bold";
    width: 535px;
    margin-top: 40px;
}

.text2 h1 {
    font-size: 35pt;
    color: rgb(5, 20,57);
}

.text2 p {
    font-family: "Rubik-bold";
    padding-top: 20px;
    color: rgb(64, 75, 102);
}

.image {
    display: flex;
    vertical-align: middle;
    padding-left: 50px;
    margin-top: 40px;
}

.image img {
    width: 82%;
}

.about2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 45px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: white;
}

.card1 {background-color: rgba(128, 0, 128, 0.2);
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
    padding: 30px;
    width: 300px;
    height: 300px;
}

.card1 h3 {
    font-family: "Rubik-bold";
    color: rgb(5, 20,57);
    padding-right: 200px;
}

.card1 p {
    font-family: "Rubik-bold";
    color: rgb(64, 75, 102);
}

.card1 img {
    width: 40%;
    height: 60%;
}

.card2 {background-color: rgba(0, 255, 255, 0.2);
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
    padding: 30px;
    width: 300px;
    height: 300px;
}

.card2 h3 {
    font-family: "Rubik-bold";
    color: rgb(5, 20,57);
    padding-right: 200px;
}

.card2 p {
    font-family: "Rubik-bold";
    color: rgb(64, 75, 102);
}

.card2 img {
    width: 40%;
    height: 60%;
}

.card3 {background-color: rgba(255, 255, 0, 0.2);
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
    padding: 30px;
    width: 300px;
    height: 300px;
}

.card3 h3 {
    font-family: "Rubik-bold";
    color: rgb(5, 20,57);
    padding-right: 200px;
}

.card3 p {
    font-family: "Rubik-bold";
    color: rgb(64, 75, 102);
}

.card3 img {
    width: 40%;
    height: 60%;
}

.bingobongo {
    display: flex;
    justify-content: center;
    background-color: white;
}

.bingobongo-content {
    display: inline-block;
    text-align: center;
    background-color: rgb(232, 231, 223);
    border-radius: 120px;
}

.text-bingobongo {
    font-family: "Rubik-bold";
    padding-top: 80px
}

.text-bingobongo p {
    padding-top: 16px;
    font-size: 18px;
    color: rgb(64, 75, 102);
}

.cons {
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 70px;
}

.gorod {
    font-family:"Rubik-bold";
    padding-top: 45px;
    background-color: #fcfcfa;
}

.igra {
    font-family:"Rubik-bold";
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#daf3f5;
    border: none;
    border-radius: 10px;
    width: 155px;
    gap: 7px;
    color: rgb(43, 96, 139);
}

.corz {
    border: none;
    border-radius: 10px;
    width: 165px;
    height: 35px;
    background-color: orangered;
    color: white;
}

.osnt h1 {
    font-size: 34pt;
    padding-bottom: 25px;
}

.fff {
    padding-bottom: 25px;
    width: 600px;
    color: rgb(102, 102, 102);
    line-height: 20px;
}

.osn {
    display: flex;
}
.osni {
    display: flex;
    align-items: center;
    padding-bottom: 35px;
    gap: 10px;
}

.osni h2 {
    font-size: 45px;
}

.town {
    border-radius: 25px;
    width: 40%;
    padding-left: 75px;
}

.osnt {
    padding-left: 25px;
}

.opis {
    width: 550px;
    padding-left: 75px;
    padding-top: 25px;
}

.opis ul {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
    height: 55px;
    width: 525px;
}

.fi {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 214, 110);
    width: 155px;
    height: 45px;
    border-radius: 10px;
}

.opis li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 45px;
    border-radius: 15px;
}

.opis p {
    padding-top: 25px;
    color: rgb(102, 102, 102);
    line-height: 20px;
}
.gog {
    background-color: white;
    display: flex;
    height: 700px;
    padding-top: 40px;
    justify-content: center;
}

.gog1 {
    font-size: 25px;
    width: 500px;
    font-family: "Rubik-bold";
    color: rgb(64, 75, 102);
    align-items: center;
    padding-top: 250px;
}

.gog2 {
    padding-left: 40px;
}

.gog3 {
    background-color: rgb(226, 226, 226);
    width: 550px;
    height: 250px;
    border-radius: 20px 20px 20px 150px;
}

.gogtext {
    color: rgb(64, 75, 102);
    font-family: "Rubik-bold";
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
}

.gog3 img {
    margin-top: -20px;
    width: 550px;
    height: 231px;
}

.gog4 {
    display: flex;
}

.gog5 {
    background-color: rgb(226, 226, 226);
    margin-top: 30px;
    margin-right: 20px;
    border-radius: 49%;
}

.gog6 {
    background-color: rgb(226, 226, 226);
    margin-top: 30px;
    border-radius: 50px;
}

.gog7 {
    background-color: rgb(226, 226, 226);
    display: flex;
    padding: 20px;
}

.gog7 a {
    color: rgb(64, 75, 102);
}

.gog8 {
    padding-left: 30%;
    padding-right: 200px;
    color: rgb(64, 75, 102);
}

.gog8 a {
    padding-right: 10px;
    color: rgb(64, 75, 102);
}

.last {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: url(./img/wavesb.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 1000px;
    color: rgb(5, 20, 57);
}

.igroteka {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-top: 300px;
}

#a {
    position: relative;
    top: 45px;
    left: 50px;
    width: 300px;
}

#b {
    position: relative;
    top: -100px;
    right: 200px;
    width: 140px;
}

#c {
    position: relative;
    top: -210px;
    right: 60px;
    width: 150px;
}

#d {
    position: relative;
    top: -265px;
    left: 100px;
    width: 150px;
}

.igroteka h1 {
    font-family: "Rubik-bold";
    font-size: 35pt;
}

.igroteka p {
    font-family: "Rubik-light";
    margin-top: 12px;
    font-size: 14px;
    width: 90%;
}

#aa {
    font-family: "Rubik-bold";
    color: rgb(5, 20, 57);
    position: relative;
    top: 360px;
    left: 100px;
    rotate: 345deg;
    z-index: 1;
}

#bb {
    font-family: "Rubik-bold";
    color: rgb(5, 20, 57);
    position: relative;
    top: 210px;
    left: 154px;
    z-index: 1;
}

#cc {
    font-family: "Rubik-bold";
    color: rgb(5, 20, 57);
    position: relative;
    top: 205px;
    left: -15px;
    z-index: 1;
}

#dd {
    font-family: "Rubik-bold";
    color: rgb(5, 20, 57);
    position: relative;
    top: 145px;
    left: 310px;
    z-index: 1;
}

.kartinki {
        margin-top: 130px;
}

.slova {
    margin-top: -130px;
}

form p {
    font-family: "Rubik-light";
    color: rgba(128, 128, 128, 0.473);
    margin-bottom: 5px;
    font-size: 14px;
}

input {
    width: 400px;
    height: 30px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 13px;
    border: 1px solid rgba(128, 128, 128, 0.425);
    padding: 10px;
    font-size: 14px;
    color: rgb(5, 20, 57);
    font-family: "Rubik-light";
}

input::placeholder {
    color: rgb(5, 20, 57);
    font-family: "Rubik-light";
    font-size: 14px;
}

.radio {
    display: flex;
    color: rgb(5, 20, 57);
    font-family: "Rubik-light";
    font-size: 16px;
    margin-top: 10px;
}

.radio input {
    width: 20px;
    height: 20px;
    

}

.radio label{
    margin-left: 10px;
    margin-right: 10px;
}


.check {
    color: rgb(5, 20, 57);
    font-family: "Rubik-light";
    font-size: 16px;
    display: flex;
    margin-left: -10px;
}
#obr {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

#lvl {
     color: rgb(5, 20, 57);
    font-family: "Rubik-light";
    font-size: 16px;
}

#form {
     background-color: rgb(255, 91, 53);
    border-color: rgb(255, 91, 53);
    color: white;
    border: 0px;
    border-radius: 15px;
    width: 190px;
    height: 50px;
    font-family: "Rubik-medium";
    margin-top: 20px;
    cursor: pointer;
}
.raketa {
    background-size: 100% 100%;
    background-image: url(./img/photo.png);
    background-position: right;
    height: 550px;
}

.bukvi button {
    margin: 20px;
    background-color: rgb(255, 91, 53);
    color: white;
    border-radius: 10px;
    width: 150px;
    padding: 10px;
    font-family: "Rubik-bold";
    border: none;

}

.bukvi {
    display: flex;
    font-family: "Rubik-bold";


}

.sale {
    display: flex;
    margin-left: 300px;
    flex-direction: column;
    margin-top: 200px;

}

.heart {
    width: 100px;
    height: 100px;
    z-index: 1;
    padding-left: 300px;
}
.bukvi p {
    font-family:sans-serif;

}